# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Bomb.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProject\Bomb\.idea\.idea.Bomb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
